In [169]:
import pandas as pd

In [170]:
movies = pd.read_csv('assignment.csv')

In [171]:
movies

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [14]:
#data cleaning methods
# change all columns to lower case
# remove the unnamed 0 column
# the release year to be consistent
# the country column needs to be consistent
# the content rating needs to be consistent
# drop the unnamed 8 columns 
# remove the dollar sign in the income column so to make numerical calculations on it
# score column needs to be consistent

In [172]:
movies.shape

(101, 13)

In [173]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      101 non-null    int64
 1   IMBD title ID   100 non-null    object
 2   Original titlÊ  100 non-null    object
 3   Release year    100 non-null    object
 4   Genrë¨          100 non-null    object
 5   Duration        99 non-null     object
 6   Country         100 non-null    object
 7   Content Rating  77 non-null     object
 8   Director        100 non-null    object
 9   Unnamed: 8      0 non-null      float64
 10  Income          100 non-null    object
 11   Votes          100 non-null    object
 12  Score           100 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 10.4+ KB

In [174]:
movies.describe()

       Unnamed: 0  Unnamed: 8
count  101.000000         0.0
mean    50.000000         NaN
std     29.300171         NaN
min      0.000000         NaN
25%     25.000000         NaN
50%     50.000000         NaN
75%     75.000000         NaN
max    100.000000         NaN

In [175]:
movies.columns= movies.columns.str.lower()

In [176]:
movies

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,unnamed: 8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [178]:
movies.drop(movies.columns[[0, 9, 12]], axis=1, inplace=True)

In [179]:
movies

,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,income,votes
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147
...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152

In [180]:
movies.rename(columns={'imbd title id': 'title_id','original titlê': 'original_title','content rating':'content_rating','release year': 'release_year','genrë¨': 'genre'}, inplace=True)
# Renamed some column for easy navigation

In [181]:
movies

,title_id,original_title,release_year,genre,duration,country,content_rating,director,income,votes
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147
...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152

In [183]:
movies.release_year

0        1995-02-10
1        09 21 1972
2       23 -07-2008
3        1975-09-25
4        1994-10-28
           ...
96       1974-03-21
97       1982-03-18
98       1965-12-20
99       2011-10-21
100      1953-02-05
Name: release_year, Length: 101, dtype: object

In [184]:
movies['release_year'] =movies['release_year'].replace(['09 21 1972','23 -07-2008','22 Feb 04','10-29-99','23rd December of 1966 ',' 01/16-03', '18/11/1976','21-11-46','The 6th of marzo, year 1951',],['1972-09-21','2008-07-23','2004-02-22','1999-10-29','1966-12-23','2003-01-16','1976-11-18','1946-11-21','1951-03-06'])

In [187]:
movies.release_year

0        1995-02-10
1        1972-09-21
2       23 -07-2008
3        1975-09-25
4        1994-10-28
           ...
96       1974-03-21
97       1982-03-18
98       1965-12-20
99       2011-10-21
100      1953-02-05
Name: release_year, Length: 101, dtype: object

In [188]:
movies.genre

0                           Drama
1                    Crime, Drama
2            Action, Crime, Drama
3                    Crime, Drama
4                    Crime, Drama
                  ...
96           Comedy, Crime, Drama
97     Adventure, Drama, Thriller
98                        Western
99                          Drama
100      Comedy, Musical, Romance
Name: genre, Length: 101, dtype: object

In [189]:
movies['genre'].str.split(',', expand = True)

             0         1          2
0        Drama      None       None
1        Crime     Drama       None
2       Action     Crime      Drama
3        Crime     Drama       None
4        Crime     Drama       None
..         ...       ...        ...
96      Comedy     Crime      Drama
97   Adventure     Drama   Thriller
98     Western      None       None
99       Drama      None       None
100     Comedy   Musical    Romance

[101 rows x 3 columns]

In [190]:
movies['first_genre']=movies['genre'].str.split(',',expand=True)[0]

In [191]:
movies

,title_id,original_title,release_year,genre,duration,country,content_rating,director,income,votes,first_genre
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,Drama
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,Crime
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,Action
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,Crime
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,Comedy
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,Adventure
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,Western
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,Drama
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,Comedy

In [192]:
movies.drop(movies.columns[[3]], axis=1, inplace=True)

In [193]:
movies

,title_id,original_title,release_year,duration,country,content_rating,director,income,votes,first_genre
0,tt0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,$ 28815245,2.278.845,Drama
1,tt0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,Crime
2,tt0468569,The Dark Knight,23 -07-2008,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,Action
3,tt0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,Crime
4,tt0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,Crime
...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,$ 156000000,236.285,Comedy
97,tt0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,Adventure
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,Western
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,Drama
100,tt0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,$ 1864182,213.152,Comedy

In [194]:
movies['country'] = movies['country'].replace(['US','New Zesland','New Zeland','Italy1','US.','West Germany'],['USA',' New Zealand',' New Zealand','Italy','USA','Germany'])

In [195]:
movies.country

0          USA
1          USA
2          USA
3          USA
4          USA
        ...
96         USA
97     Germany
98       Italy
99        Iran
100        USA
Name: country, Length: 101, dtype: object

In [196]:
movies.content_rating

0          R
1          R
2      PG-13
3          R
4          R
       ...
96        PG
97         R
98       NaN
99     PG-13
100      NaN
Name: content_rating, Length: 101, dtype: object

In [197]:
movies['content_rating'] = movies['content_rating'].replace(['Approved','unrated','G','PG','R'],['Rated','Not Rated','PG-13','PG-13','Rated'])

In [198]:
movies.content_rating

0      Rated
1      Rated
2      PG-13
3      Rated
4      Rated
       ...
96     PG-13
97     Rated
98       NaN
99     PG-13
100      NaN
Name: content_rating, Length: 101, dtype: object

In [202]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    100 non-null    object
 3   duration        99 non-null     object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          100 non-null    object
 8    votes          100 non-null    object
 9   first_genre     100 non-null    object
dtypes: object(10)
memory usage: 8.0+ KB

In [203]:
movies.duration

0      142
1      175
2      152
3      220
4
      ...
96     129
97     149
98     132
99     123
100    103
Name: duration, Length: 101, dtype: object

In [210]:
movies['duration'] = movies['duration'].replace(['Nan', 'Not Applicable', '-','Inf','178c','NaN'], [0, 0, 0,0,0,0])

In [212]:
movies.income

0         $ 28815245
1        $ 246120974
2       $ 1005455211
3      $ 4o8,035,783
4        $ 222831817
           ...
96       $ 156000000
97        $ 11487676
98        $ 15000000
99        $ 22926076
100        $ 1864182
Name: income, Length: 101, dtype: object

In [213]:
movies['income'].str.split('$',expand=True)

    0              1
0           28815245
1          246120974
2         1005455211
3        4o8,035,783
4          222831817
..  ..           ...
96         156000000
97          11487676
98          15000000
99          22926076
100          1864182

[101 rows x 2 columns]

In [214]:
movies['income'] = movies['income'].str.split('$', expand = True)[1]

In [218]:
movies.head(50)

,title_id,original_title,release_year,duration,country,content_rating,director,income,votes,first_genre
0,tt0111161,The Shawshank Redemption,1995-02-10,142,USA,Rated,Frank Darabont,28815245,2.278.845,Drama
1,tt0068646,The Godfather,1972-09-21,175,USA,Rated,Francis Ford Coppola,246120974,1.572.674,Crime
2,tt0468569,The Dark Knight,23 -07-2008,152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,Action
3,tt0071562,The Godfather: Part II,1975-09-25,220,USA,Rated,Francis Ford Coppola,"4o8,035,783",1.098.714,Crime
4,tt0110912,Pulp Fiction,1994-10-28,,USA,Rated,Quentin Tarantino,222831817,1.780.147,Crime
5,tt0167260,The Lord of the Rings: The Return of the King,2004-02-22,201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,Action
6,tt0108052,Schindler's List,1994-03-11,0,USA,Rated,Steven Spielberg,322287794,1.183.248,Biography
7,tt0050083,12 Angry Men,1957-09-04,96,USA,Not Rated,Sidney Lumet,576,668.473,Crime
8,tt1375666,Inception,2010-09-24,148,USA,PG-13,Christopher Nolan,869784991,2.002.816,Action
9,tt0137523,Fight Club,1999-10-29,0,UK,Rated,David Fincher,101218804,1.807.440,Drama
10,tt0109830,Forrest Gump,1994-10-06,142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,Drama
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,0,New Zealand,PG-13,Peter Jackson,887934303,1.619.920,Action
12,tt0060196,"Il buono, il brutto, il cattivo",1966-12-23,161,Italy,Rated,Sergio Leone,25252481,672.499,Western
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0133093,The Matrix,1999-05-07,NaN,USA,Rated,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,Action
15,tt0167261,The Lord of the Rings: The Two Towers,01/16-03,179,New Zealand,PG-13,Peter Jackson,951227416,1.449.778,Action
16,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980-09-19,0,USA,PG-13,Irvin Kershner,549265501,1.132.073,Action
17,tt0099685,Goodfellas,1990-09-20,146,USA,Rated,Martin Scorsese,46879633,991.505,Biography
18,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,0,USA,Rated,Milos Forman,108997629,891.071,Drama
19,tt0816692,Interstellar,2014-11-06,169,USA,PG-13,Christopher Nolan,696742056,1.449.256,Adventure
20,tt0114369,Se7en,1995-12-15,127,USA,Rated,David Fincher,327333559,1.402.015,Crime
21,tt0102926,The Silence of the Lambs,1991-03-05,118,USA,Rated,Jonathan Demme,272753884,1.234.134,Crime
22,tt0076759,Star Wars,1977-10-20,121,USA,PG-13,George Lucas,775768912,1.204.107,Action
23,tt0120815,Saving Private Ryan,1998-10-30,169,USA,Rated,Steven Spielberg,482349603,1.203.825,Drama
24,tt0120689,The Green Mile,2000-10-03,189,USA,Rated,Frank Darabont,286801374,1.112.336,Crime
25,tt0317248,Cidade de Deus,2003-05-09,130,Brazil,Rated,"Fernando Meirelles, KÃ¡tia Lund",30680793,685.856,Crime
26,tt0245429,Sen to Chihiro no kamikakushi,2003-04-18,125,Japan,PG-13,Hayao Miyazaki,355467056,626.693,Animation
27,tt0118799,La vita B9 bella,1997-12-20,116,Italy,NaN,Roberto Benigni,230098753,605.648,Comedy
28,tt6751668,Gisaengchung,2019-11-07,132,South Korea,NaN,Bong Joon Ho,257604912,470.931,Comedy
29,tt0038650,It's a Wonderful Life,1948-03-11,130,USA,PG-13,Frank Capra,6130720,388.310,Drama
30,tt0047478,Shichinin no samurai,1955-08-19,207,Japan,Unrated,Akira Kurosawa,322773,307.958,Action
31,tt0172495,Gladiator,2000-05-19,155,USA,Rated,Ridley Scott,465361176,1.308.193,Action
32,tt0407887,The Departed,2006-10-27,151,USA,Rated,Martin Scorsese,291465034,1.159.703,Crime
33,tt0482571,The Prestige,2006-12-22,130,UK,PG-13,Christopher Nolan,109676311,1.155.723,Drama
34,tt0088763,Back to the Future,1985-10-18,116,USA,PG-13,Robert Zemeckis,388774684,1.027.330,Adventure
35,tt0120586,American History X,1999-08-27,119,USA,Rated,Tony Kaye,23875127,1.014.218,Drama
36,tt0110413,LÃ©on,1995-04-07,110,France,NaN,Luc Besson,19552639,1.007.598,Action
37,tt0103064,Terminator 2: Judgment Day,1991-12-19,137,USA,Rated,James Cameron,520884847,974.970,Action
38,tt0114814,The Usual Suspects,1995-11-30,106,USA,Rated,Bryan Singer,23341568,968.947,Crime
39,tt0110357,The Lion King,1994-11-25,88,USA,PG-13,"Roger Allers, Rob Minkoff",968511805,917.248,Animation
40,tt7286456,Joker,2019-10-03,122,USA,NaN,Todd Phillips,1074251311,855.097,Crime
41,tt1675434,Intouchables,2012-02-24,112,France,NaN,"Olivier Nakache, Ãric Toledano",426588510,736.691,Biography
42,tt0253474,The Pianist,2002-10-25,150,UK,Rated,Roman Polanski,120072577,707.942,Biography
43,tt2582802,Whiplash,2015-02-12,106,USA,Rated,Damien Chazelle,48983260,690.732,Drama
44,tt0054215,Psycho,1960-10-28,109,USA,Rated,Alfred Hitchcock,32008644,586.765,Horror
45,tt0034583,Casablanca,1946-11-21,102,USA,PG-13,Michael Curtiz,4374761,509.953,Drama
46,tt0064116,C'era una volta il West,1968-12-21,165,Italy,PG-13,Sergio Leone,112911,295.220,Western
47,tt0095327,Hotaru no haka,2015-10-11,89,Japan,NaN,Isao Takahata,516962,225.438,Animation
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,155,Italy,NaN,Giuseppe Tornatore,13826605,223.050,Drama
49,tt0027977,Modern Times,1937-03-12,87,USA,PG-13,Charles Chaplin,457688,211.250,Comedy

In [219]:
movies = movies.drop(index=13)

In [224]:
movies

,title_id,original_title,release_year,duration,country,content_rating,director,income,votes,first_genre
0,tt0111161,The Shawshank Redemption,1995-02-10,142,USA,Rated,Frank Darabont,28815245,2.278.845,Drama
1,tt0068646,The Godfather,1972-09-21,175,USA,Rated,Francis Ford Coppola,246120974,1.572.674,Crime
2,tt0468569,The Dark Knight,23 -07-2008,152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,Action
3,tt0071562,The Godfather: Part II,1975-09-25,220,USA,Rated,Francis Ford Coppola,"4o8,035,783",1.098.714,Crime
4,tt0110912,Pulp Fiction,1994-10-28,,USA,Rated,Quentin Tarantino,222831817,1.780.147,Crime
...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,129,USA,PG-13,George Roy Hill,156000000,236.285,Comedy
97,tt0082096,Das Boot,1982-03-18,149,Germany,Rated,Wolfgang Petersen,11487676,226.427,Adventure
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226.039,Western
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,Drama
100,tt0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213.152,Comedy

In [225]:
movies. info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 100
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    100 non-null    object
 3   duration        99 non-null     object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          100 non-null    object
 8    votes          100 non-null    object
 9   first_genre     100 non-null    object
dtypes: object(10)
memory usage: 8.6+ KB

In [ ]:
movies['income'] = movies['income'].astype(int)

In [227]:
movies.to_csv('cleaned_data.csv')